<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Clientes</title>
</head>
<body>
<main layout:fragment="content">
    <h1>Clientes</h1>
    <a th:href="@{/view/cliente/new}" class="btn btn-primary mb-3">Novo Cliente</a>
    <table class="table">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Doenças</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cliente : ${clientes}">
            <td th:text="${cliente.nm_cliente}"></td>
            <td>
                <ul>
                    <li th:each="doenca : ${cliente.nm_doencas}" th:text="${doenca}"></li>
                </ul>
            </td>
            <td>
                <a th:href="@{/view/cliente/update/{id}(id=${cliente.id_cliente})}" class="btn btn-sm btn-warning">Editar</a>
                <a th:href="@{/view/cliente/delete/{id}(id=${cliente.id_cliente})}" class="btn btn-sm btn-danger">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>