<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Excluir Doença</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Confirmar Exclusão</h1>

    <div class="alert alert-warning">
        Tem certeza que deseja excluir a doença <span th:text="${doenca.nm_doenca}"></span>?
    </div>

    <form th:action="@{/view/doenca/delete/{id}(id=${doenca.id_doenca})}" method="post">
        <input type="hidden" name="_method" value="delete"/>
        <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
        <a th:href="@{/view/doenca}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
</body>
</html>